@import 'src/Styles/vars';

.header{
    background: $grey;
    width: 100%;
    height: 150px;
    padding: 0 1.5rem;
    @include breakpoint(md){
        padding: 0 3rem;
    }
    transition: 0.3s ease all;


    &__content{
        overflow: hidden;
        color: #fff;
        margin: 0 auto;
        max-width: 1920px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;

        &__nav{
            top: 0;
            right: 100%;
            bottom: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: $blue;
            transform: translate(0);
            transition: 0.3s ease transform;

            @include breakpoint(md){
                transform: none;
                flex-direction: row;
                background: transparent;
                width: auto;
                height: 100%;
                position: static;
            }
            ul{
                display: flex;
                flex-direction: column;
                margin-bottom: $spacing-lg;
                @include breakpoint(md){
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                    margin-right: calc(0.5rem + #{$spacing-md});
                }
                li{
                    padding: 0.75rem 1.25rem;
                    border-radius: $borderRadius;
                    transition: 0.3s ease all;
                }
            }
        }
        button{
            cursor: pointer;
            border: none;
            padding: 0.7rem 1.25rem;
            border-radius: $borderRadius;
            font-family: 'Poppins', sans-serif;
        }
        .isMenu{
            transform: translate(100%);

        }
        &__toggle{
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 2rem;
            transition: 0.3s ease all;
            position: relative;
            @include breakpoint(md){
                display: none;
            }
        }
    }
}
