@import 'src/Styles/vars';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.success{
  text-align: center;
  background-color: green;
  width: 40%;
  display: block;
  margin: 50px auto;
  border-radius: 50px;
  padding: 10px;
  color: #fff;
}

.errmsg{
  text-align: center;
  background-color: red;
  width: 300px;
  display: block;
  margin: 50px auto;
  border-radius: 50px;
  padding: 10px;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}


// iOS Reset
input {
  appearance: none;
  border-radius: 0;
}

.card-login {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, .25);
  padding: .75rem;
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url('../../../assets/images/photo4.jpg');
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
}

.card-heading {
  position: absolute;
  left: -15%;
  top: 3%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: $greyLight;
  line-height: 1.222;
  small {
    display: block;
    font-size: .75em;
    font-weight: 400;
    margin-top: .25em;
  }
}

.card-form {
  padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  &+.input {
    margin-top: 1.5rem;
  }
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: .25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: .25rem 0;
  &:focus, &:valid {
    outline: 0;
    border-bottom-color: $blue;
    &+.input-label {
      color: $blue;
      transform: translateY(-1.5rem);
    }
  }
}

.action {
  margin-top: 2rem;
}

.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: $blue;
  border-radius: 6px;
  color: #FFF;
  border: 0;
  &:focus {
    outline: 0;
  }
}

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: .875rem;
  color: #8597a3;
  a {
    display: block;
    color: $blue;
    text-decoration: none;
  }
}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto 100px auto;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn-3 {
  background: lighten($blue, 3%);
  border: 1px solid darken($blue, 4%);
  box-shadow: 0px 2px 0 darken($blue, 5%), 2px 4px 6px darken($blue, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: darken($blue, 1.5%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten($blue, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 darken($blue, 9.5%);
  transition: all 250ms linear;
}
