@import 'src/Styles/vars';



.itinerary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__left {
    width: 800px;
    padding: 50px;
    margin: 10px auto;
    .detail {
      &-title {
        text-align: left;
        margin: 20px 0;
        font-size: 1.5rem;
      }

      &__itinerary {

        &-span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          padding: 25px;
          border-radius: 5px;
          margin: 10px 0;
          font-size: 1.1rem;

          h5 {
            margin-right: 10px;
          }
        }

        .title-description {
          margin-top: 50px;
          font-size: 1.1rem;
          color: $blue;
          font-style: italic;
          text-decoration: underline;
        }

        p {
          margin-top: 20px;
          font-size: 1.2rem;
        }
      }
    }

    .itinerary__user {
      display: flex;
      flex-direction: column;
      margin: 30px 0;

      img {
        display: block;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      h5 {
        font-size: 1.3rem;
      }
    }
  }
  &__right{
    width: 800px;
    margin: 50px auto;
    overflow: hidden;

    .title-description {
      margin: 10px;
      font-size: 1.1rem;
      color: $blue;
      font-style: italic;
      text-decoration: underline;
    }

      img{
        width: 100%;
      }
    }

  .card-suggestion{
    overflow: hidden;
    background-color: #edf2fb;
    .title-description {
      margin: 20px;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
