@import 'src/Styles/vars';

.profil{
  max-width: 1200px;
  margin: 100px auto 300px;

  &__detail{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
  h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 50px 0;
    color: $blue;
  }
