@import 'src/Styles/vars';

.team{

  &__title{
    margin: 50px auto;
    font-weight: bold;
    font-size: 1.5rem;
  }
  &__span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }



  &__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

      &-id{
        max-width: 300px;
        margin: 30px;

        .card__content{
          padding: 10px 0;
          margin: 10px 0;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }

          img{
            margin: 0 auto;
            display: block;
            border-radius: 50%;
          }

          h3{
            font-weight: bold;
            text-transform: uppercase;
            color: $blue;
          }
          h5, p{
            margin: 10px;
            text-align: center;
            color: #868686;
          }

        .id-social{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;

            a{
              color: $blue;
            }
        }
      }
  }
}

