@import 'src/Styles/vars';

.user{
    text-align: center;
    // font-size: 2rem;
    margin: 20px 0;
    color: $grey;

    &-photo{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    }



}
.user-container{
  display: flex;
  flex-direction: column;
  padding: 20px;

  span{
    padding: 15px;
  }

}



