@import 'src/Styles/vars';
.form__btn{
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border-radius: 5px;
}
.form{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 5px;
    transform: translateX(0);
    &__input {
        margin: 5px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        border-bottom: 1px solid $blue;
    }
    &__btn-submit{
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
    }
}

@media screen and (min-width: 900px) {
    .login{
        display: flex;
        flex-direction: row;
        align-items: center;
        .form__btn{
            margin-right: 10px;
        }
    }
}
