$yellow: #fcb500;
$blue: #008593;
$blueLight: #bee3ed;
$greyLight: #e3e3e3;
$grey: #3b4249;
$hoverBlue: #37bacd;


$spacing-md: 16px;
$spacing-lg: 32px;
$borderRadius: 12px;
$headerHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md  {
        @media (min-width: 55em) {
            @content
        }
    }
}
