@use 'src/Styles/vars';

.btn-createItinerary{
    display: block;
    text-align: center;
    margin: 0 auto;
    border: 1px solid vars.$blue;
    width: 50%;
    padding: 10px;
    border-radius: 50px;
    margin-top: 50px;
        &:hover{
            background-color: vars.$blue;
            color: #fff;
            transition: 0.3s ease all;
        }
}
.home__content{
    background: linear-gradient(rgba(26, 26, 26, 0.63), rgba(99, 99, 99, 0.42)), url("../../assets/images/photo1.jpg");
    background-size:cover;
    background-position:center;
    color: #fff;
    padding: 100px 0;
    margin: 100px 0;
    transform: skewY(-5deg) ;
    &-text{
        transform: skewY(5deg);
        margin: 30px;

        h3{
            font-size: 2rem;
            font-weight: bold;
            margin: 20px 0;
            font-style: italic;
        }
        p{
            line-height: 1.5rem;
        }
    }
}

@media screen and (min-width: 900px) {
    .home__content{
        transform: skewY(0);
        &-text{
            transform: skewY(0);
        }
    }
}
