@use 'src/Styles/vars';


.registration{
    display: flex;
    justify-content: center;
    width: 700px;
    margin: 20px auto;

    & form{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    }
    & form input{
        margin: 2px 0 20px 0;
    }
}
